<!doctype html>
<html>
 <head>  
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta charset="UTF-8" name="vaadin-version" content="7.7.0">
  <meta charset="UTF-8" name="package-mapping" content="com_haulmont_testtask_views_group_forms:com.haulmont.testtask.views.Group.forms">
 </head> 
 <body> 
  <vaadin-vertical-layout size-auto margin> 
   <vaadin-vertical-split-panel height-auto></vaadin-vertical-split-panel> 
   <vaadin-horizontal-layout spacing :right> 
    <vaadin-native-button style-name="OkButton" plain-text _id="editOkButton" :bottom :right>
      ОК 
    </vaadin-native-button> 
    <vaadin-native-button style-name="CancelButton" plain-text _id="editCancelButton" :middle :right>
      Отменить 
    </vaadin-native-button> 
   </vaadin-horizontal-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>