<!doctype html>
<html>
 <head>  
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta charset="UTF-8" name="vaadin-version" content="7.7.0">
  <meta charset="UTF-8" name="package-mapping" content="com_haulmont_testtask_views_group:com.haulmont.testtask.views.Group">
 </head> 
 <body> 
  <vaadin-vertical-layout> 
   <vaadin-horizontal-layout style-name="student-menu" width-full margin-left margin-right margin-top> 
    <vaadin-label style-name="student-label" size-auto plain-text>
      Студенты 
    </vaadin-label> 
    <vaadin-horizontal-layout spacing :middle :right> 
     <vaadin-native-button style-name="addButton" plain-text _id="addNewButton">
       Добавить 
     </vaadin-native-button> 
     <vaadin-native-button style-name="editButton" plain-text _id="editButton">
       Изменить 
     </vaadin-native-button> 
     <vaadin-native-button style-name="deleteButton" plain-text _id="deleteButton">
       Удалить 
     </vaadin-native-button> 
    </vaadin-horizontal-layout> 
   </vaadin-horizontal-layout> 
   <vaadin-vertical-split-panel style-name="student-splitter" height-auto></vaadin-vertical-split-panel> 
   <vaadin-vertical-layout style-name="student-content" size-full _id="studentContent"></vaadin-vertical-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>